.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: rgb(5, 5, 146);
    color: bisque;
    border-bottom: 4px solid #fdb347;
}

.footer {
    text-align: center;
    background-color: rgb(5, 5, 146);
    color: rgb(134, 226, 13);
    border-bottom: 4px solid #fdb347;
    font-size: 25px;
}


body {
    margin:0;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    font-size: 1em;    
}

.gallery img{
    width: 300px;
    max-width: auto;
    height: 150px;
    max-height: auto;
    object-fit:cover;
    border-radius: 5px;
    gap: 16px;
    padding: 5px;
}

.gallery {
    display: flex; 
    flex-direction: row; 
    justify-content:center;
    align-items: center;
    width: 95vw;
    background-color: rgba(56, 56, 119, 0.425);
    margin: auto;    
}
   
.gallery::after{
    content:"";
    width: auto;
    height: auto;
}

.column-one {
    width: 50%;
    border: 3px solid red;
    display: grid;
    place-items: center;
    gap: 10px;
}

.column-two{
    width: 50%;
    border: 3px solid green;
    display: grid;
    place-items: center;
    gap: 10px;
}

.column-one, .column-two {margin: 5px;}