.header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(5, 5, 146);
    color: bisque;
    border-bottom: 4px solid #fdb347;
    }

.head{
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
    overflow: hidden;
}

h2 {
    font-family: cursive;
    color: rgba(177, 91, 11, 0.938);
    box-shadow: -0px 4px 1px rgb(124, 116, 42);
    padding-top: 2px;
}

.footer {
    text-align: center;
    background-color: rgba(127, 136, 150, 0.753);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(231, 210, 22);
    border-bottom: 6px solid #fdb347;
    border-top: 4px solid #fdb347;
    font-size: 18px;
    padding-top: 2px;
    margin-bottom: 6px;
}

.social-media{margin-left: 6px;}

body {
    margin:0;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    font-size: 1em;    
    background-color:lavender;
    /*background-image:url(/assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;  */
}

.gallery img{
    width: 300px;
    max-width: auto;
    height: 150px;
    max-height: auto;
    object-fit:cover;
    border-radius: 15px;
    gap: 20px;
    padding: 6px;
}

.gallery {
    display: flex; 
    flex-direction: row; 
    justify-content:center;
    align-items: center;
    width: 85vw;
    background-color: rgba(190, 178, 178, 0.205);
    margin: auto;  
    margin-top: 100px;
    margin-bottom: 5px;  
    border-radius: 35px;
}

.gallery a:hover{
    background-color:rgba(128, 128, 128, 0.712);
    opacity: 0.7;
    border-radius: 5%;
    border-bottom: 1px; 
    padding-bottom: 0px;   
}
   
.gallery::after{
    content:"";
    width: auto;
    height: auto;
}

.column-one, .column-two {
    margin: 5px;
    width: 40%;
    display: grid;
    place-items: center;
    gap: 10px;
    /*border: 5px solid rgb(35, 3, 109);*/
}